body {
    margin: 60px auto;
    width: 70%;
}

nav {
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    /*background-color: #f2f2f2;*/
    /*border-bottom: 1px solid #ccc;*/
}

nav ul, nav a, footer ul, .pub .source ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, nav a, footer ul li, .pub .source ul li{
    display: inline;
    margin-left: 20px;
}

nav ul {
    float: right;
}

nav ul.name, nav ul.name li {
    float: left;
    margin-left: 0px;
    padding: 0px;
    /*background-color: green;*/
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-top: 10px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 2px solid #d5d5d5;
    font-size: .8em;
}

/*ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}*/
/*
ul.posts li {
    list-style: none;
}*/

.pub {
    border-top: 1px solid #d5d5d5;
    padding-top: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.pub .title {
    font-size: 1.3em;
    font-weight: bolder;
    color: #292929;

    padding-top: 2px;
    padding-bottom: 5px;
}
.pub .authors {
    font-size: 1.1em;
    color: #4E4E4E;
    padding-top: 2px;
    padding-bottom: 5px;
}
.pub .venue {
    font-size: 1.0em;
    color: #878787;
    font-style: italic;
    padding-top: 2px;
    padding-bottom: 5px;
}

.news {
    border-top: 1px solid #d5d5d5;
    padding-bottom: 15px;
    padding-top: 15px;
}

.news .content{
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.news .date {
    font-size: 1.1em;
    font-style: italic;
}

.footnote {
    text-align: right;
    font-size: 1.1em;
}

.faqquestion {
    font-size: 2em;
    font-family: Georgia, serif;
}

/*.postList {
    font-size: 1.5em;
    font-family: Georgia, serif;
}*/

.post {
    font-size: 1.5em;
    font-family: Georgia, serif;
}

p.blog {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

.advice {
    border-top: 2px solid #d5d5d5;
    border-bottom: 2px solid #d5d5d5;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.9em;
    line-height: 1.4em;
    color: #333;
}
