<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    </head>
    <body>
      <nav>
          <ul class="name">
            <li>Sasha Vtyurina</li>
          </ul>

          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/namefaq">Name FAQ</a></li>
              <li><a href="/papers">Publications</a></li>
              <!-- <li><a href="/blog">Blog</a></li> -->
              <!-- <li><a href="/cv">CV</a></li> -->
              <li><a href="SashaVtyurina_CV.pdf">CV</a></li>
              <!-- <li><a href="/about">About</a></li> -->
          </ul>

      </nav>

      <div class="container">

      {{ content }}

      </div><!-- /.container -->
      <footer>
          <ul>
              <li><a href="mailto:sasha.vtyurina@uwaterloo.ca">email me</a></li>
              <!-- <li><a href="https://twitter.com/sashavtyurina">follow me</a></li> -->
        </ul>
      </footer>
    </body>
  </html>
